

<nav class=" bg-teal-500 py-2">
    <div class="flex items-center md:flex-row flex-col justify-between flex-wrap max-w-7xl mx-auto">
      
      <a routerLink="home" class="font-semibold text-xl tracking-tight text-gray-50 ">River Blog</a>
    
      <div class="flex items-center justify-between gap-6">
        <div class="flex gap-2 justify-between items-center">
          <a routerLink="/my-articles" class="font-semibold leading-none text-xs md:text-sm  text-gray-100 hover:text-white mt-4 lg:mt-0">
            My Listings
        </a>
        <a routerLink="/login" class="text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
            Log In
        </a>
        <a routerLink="/login" class="text-sm px-4 py-2 leading-none border rounded text-teal-500 border-white hover:border-white hover:text-white hover:bg-teal-500 bg-white mt-4 lg:mt-0">
            Sign Up
        </a>
    </div>
    </div>
  </div>
  </nav>